body{color:white;font-family:Arial;background-color: darkslategray;  font: 15px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
button{z-index:1000;}
a{color:white;font-family:Arial;}
#successmessage{color:green;}
#errormessage{color:red}
button{display:inline-block;padding:8px 8px;background:transparent;border:none;color:#FFFFFF;font:normal 400 15px "Arial", sans-serif;text-align:center;}
.input{font-size:15px;font-family:Arial, Sans-Serif;display:inline-block;margin-bottom:0px;padding:7px;color:darkslategrey;box-shadow:none;border:none;border-radius:0;}
.input:focus{border-color:white;outline:none;}
h1{margin-top:-15px; font-family:lobster;}
.content{text-align:center;font-size:150px;width:600px;height:400px;position:absolute;left:50%;top:50%;margin:-170px 0 0 -300px;line-height:.75; z-index:0}
.input1{font-size:25px;font-family:Arial, Sans-Serif;display:inline-block;width:550px;height:40px;margin-bottom:0px;padding:0px 5px 0px 5px;color:darkslategrey;box-shadow:none;border:none;border-radius:0;}
.input1:focus{border-color:white;outline:none;}
#date{font-size:50px}
#settings{display:none;background-color:darkslategray; width: 300px;color:white;padding:15px;z-index: 900}
#settings button{background-color:#eeeeee; color:black;}
#yahoo{display:none}
#bing{display:none}
.btn{background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);-webkit-border-radius:2px;-webkit-user-select:none;background-color:#f5f5f5;background-image:linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);border:1px solid #dcdcdc;border:1px solid rgba(0,0,0,0.1);border-radius:2px;color:#444;cursor:default;font-family:arial,sans-serif;font-size:11px;font-weight:bold;margin:11px 8px;min-width:54px;padding:10px 20px;text-align:center;}
//Weather
body {
}
@font-face {
    font-family: 'weather';
    src: url('fonts/artill_clean_icons-webfont1.eot');
    src: url('fonts/artill_clean_icons-webfont.eot') format('embedded-opentype'),
         url('fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('fonts/artill_clean_icons-webfont.eot') format('svg');
    font-weight: normal;
    font-style: normal;
}
#weather {
  width: 500px;
  text-align: center;
  text-transform: uppercase;
  margin:5px 15px 0px 0px;
}
i {
  color: #fff;
  font-family: weather;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
}
.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  text-align: right;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); 
}
#weather h3 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  text-align: right;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}