/*General */

body {
  cursor: context-menu;
  color: white;
  font-family: Arial;
  background-color: darkslategray;
  font: 15px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0
}
html {
  margin: 0;
  padding: 0;
}
table {
  width: 100%
}
a {
  color: white;
  font-family: Arial;
}
select {
  color: black;
  cursor: pointer
}
h1 {
  margin-top: -15px;
  font-family: lobster;
}
h4, #settings p {
  margin: 2px;
}
#settings input {
  margin-bottom: 5px;
}
input[name='weatherLocation'] {
  text-transform: uppercase
}

/*Buttons*/

#settings .button {
  background-color: white;
  color: black;
}
button, .button {
  border: none;
  z-index: 1000;
  display: inline-block;
  padding: 8px 8px;
  background: transparent;
  border-radius: 4px;
  font: normal 400 15px "Arial", sans-serif;
  text-align: center;
  cursor: pointer;
}
button:hover, .button:hover {
  background-color: #e6e6e6!important
}
#settinghide, #welcomehide {
  width: 30px;
  box-shadow: none;
  float: right;
  background-color: #d9534f !important;
  color: white !important;
  margin-top: -15px;
  margin-right: -15px;
  border-radius: 0px;
}
#clearimage:hover, #settinghide:hover, #welcomehide:hover {
  background-color: #c9302c!important;
}
.buttonActive {
  background-color: #337ab7 !important;
  color: white!important;
  border-color: black!important
}
.buttonActive:hover {
  background-color: #286090!important
}
#settingview {
  background-color: transparent!important;
}
#clearimage {
  background-color: #d9534f!important;
  color: white!important;
}

/*Input fields*/

.input, select, .input1 {
  font-size: 15px;
  font-family: Arial, Sans-Serif;
  display: inline-block;
  margin-bottom: 0px;
  padding: 7px;
  color: darkslategrey;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.input:focus, select:focus, .input1 {
  border-color: white;
  outline: none;
}

/*Search Engines*/

#yahoo, #bing, #google {
  display: none
}
.input1 {
  font-size: 25px;
  width: 550px;
  height: 40px;
  padding: 0px 5px 0px 5px;
}
.searchEngines {
  line-height: 0px;
  padding-top: 15px;
}

/*Center div, holds main content*/

.content {
  text-align: center;
  font-size: 150px;
  width: 600px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -170px 0 0 -300px;
  line-height: .75;
  z-index: -6
}
#welcomehide {
  margin: 0px
}
.welcome {
  background-color: black;
  z-index: 1000;
  height: 500px;
  margin-top: -250px;
  font-size: 25px;
  text-align: left;
  display: none
}

/*Date*/

#date {
  font-size: 50px;
  line-height: 0
}

/*Clock*/

#clock {
  padding-bottom: 0px;
  font-size: 150px;
}

/*Settings*/

#settings {
  display: none;
  background-color: darkslategray;
  width: 300px;
  color: white;
  padding: 15px 15px 0px 15px;
  z-index: 1000;
  margin-bottom: 0px;
}
#settings button {
  background-color: #fff;
  color: black;
}
.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f5f5f5;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 11px 8px;
  min-width: 54px;
  padding: 10px 20px;
  text-align: center;
}

/*Radio style*/

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
}
@-webkit-keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.radio {
  display: inline-block;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}
.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.radio input:checked + .outer {
  border: 3px solid #00d965;
}
.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #43e38d;
}
.radio .outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  border: 3px solid #0c70b4;
  border-radius: 50%;
  background-color: #fff;
}
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #43e38d;
  opacity: 0;
}
.floatRight {
  float: right;
}

/*Weather*/


/*Weather font*/

@font-face {
  font-family: 'weather';
  src: url('fonts/artill_clean_icons-webfont1.eot');
  src: url('fonts/artill_clean_icons-webfont.eot') format('embedded-opentype'), url('fonts/artill_clean_icons-webfont.woff') format('woff'), url('fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('fonts/artill_clean_icons-webfont.eot') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Weather output*/

#weather {
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px 15px 0px 0px;
}

/*Weather Icon*/

i {
  font-family: weather;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
}
#weather h2, #weather h3 {
  margin: 0 0 8px;
  font-size: 25px;
  font-weight: 200;
  text-align: right;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
#weather h3 {
  font-size: 15px;
}
.icon-0:before {
  content: ":";
}
.icon-1:before {
  content: "p";
}
.icon-2:before {
  content: "S";
}
.icon-3:before {
  content: "Q";
}
.icon-4:before {
  content: "S";
}
.icon-5:before {
  content: "W";
}
.icon-6:before {
  content: "W";
}
.icon-7:before {
  content: "W";
}
.icon-8:before {
  content: "W";
}
.icon-9:before {
  content: "I";
}
.icon-10:before {
  content: "W";
}
.icon-11:before {
  content: "I";
}
.icon-12:before {
  content: "I";
}
.icon-13:before {
  content: "I";
}
.icon-14:before {
  content: "I";
}
.icon-15:before {
  content: "W";
}
.icon-16:before {
  content: "I";
}
.icon-17:before {
  content: "W";
}
.icon-18:before {
  content: "U";
}
.icon-19:before {
  content: "Z";
}
.icon-20:before {
  content: "Z";
}
.icon-21:before {
  content: "Z";
}
.icon-22:before {
  content: "Z";
}
.icon-23:before {
  content: "Z";
}
.icon-24:before {
  content: "E";
}
.icon-25:before {
  content: "E";
}
.icon-26:before {
  content: "3";
}
.icon-27:before {
  content: "a";
}
.icon-28:before {
  content: "A";
}
.icon-29:before {
  content: "a";
}
.icon-30:before {
  content: "A";
}
.icon-31:before {
  content: "6";
}
.icon-32:before {
  content: "1";
}
.icon-33:before {
  content: "6";
}
.icon-34:before {
  content: "1";
}
.icon-35:before {
  content: "W";
}
.icon-36:before {
  content: "1";
}
.icon-37:before {
  content: "S";
}
.icon-38:before {
  content: "S";
}
.icon-39:before {
  content: "S";
}
.icon-40:before {
  content: "M";
}
.icon-41:before {
  content: "W";
}
.icon-42:before {
  content: "I";
}
.icon-43:before {
  content: "W";
}
.icon-44:before {
  content: "a";
}
.icon-45:before {
  content: "S";
}
.icon-46:before {
  content: "U";
}
.icon-47:before {
  content: "S";
}
